[submodule "DDHotKey"]
	path = DDHotKey
	url = https://github.com/mstarke/DDHotKey.git
[submodule "TransformerKit"]
	path = TransformerKit
	url = https://github.com/mattt/TransformerKit.git
[submodule "zxcvbn-ios"]
	path = zxcvbn-ios
	url = git@github.com:etfrogers/zxcvbn-ios.git
